[Unit]
Description=zramdrive
After=local-fs.target log2zram.service log2ram.service zram-swap-config.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zramdrive start
ExecStop=/usr/local/bin/zramdrive stop
TimeoutStartSec=240
RemainAfterExit=yes

[Install]
WantedBy=basic.target
